In [2]:
import numpy as np
import pandas as pd

queens = pd.read_csv('../Data/raw/contestant.csv')
results = pd.read_csv('../Data/raw/episode_outcome.csv')

display(results.head())
queens.head()

,season_contestant_id,contestant_id,episode_id,season_id,franchise_id,episode_num,contestant,outcome,detailed_outcome
0,F10S01C02,Q101,F10S01E01,F10S01,F10,1,Be Be Zahara Benet,SAFE,SAFE
1,F10S01C02,Q101,F10S01E02,F10S01,F10,2,Be Be Zahara Benet,SAFE,SAFE
2,F10S01C02,Q101,F10S01E03,F10S01,F10,3,Be Be Zahara Benet,WIN,WIN
3,F10S01C02,Q101,F10S01E04,F10S01,F10,4,Be Be Zahara Benet,HIGH,HIGH
4,F10S01C02,Q101,F10S01E05,F10S01,F10,5,Be Be Zahara Benet,BTM,BTM2

,id,name,original_season_id,real_name,dob,gender,hometown,location
0,Q100,Akashia,F10S01,Eric Flint,"February 19, 1985",NaN,NaN,"Cleveland, OH, USA"
1,Q101,BeBe Zahara Benet,F10S01,Nea Marshall Kudi Ngwa,"March 20, 1981",Male,"Yaoundé, Cameroon","Minneapolis, MN, USA"
2,Q102,Jade,F10S01,David Sotomayor,"November 18, 1984",NaN,"Chicago, IL, USA",NaN
3,Q103,Nina Flowers,F10S01,Jorge Luis Flores Sánchez,"February 22, 1974",Male,"Denver, CO, USA","Dallas, TX, USA"
4,Q104,Ongina,F10S01,Ryan Ong Palao,"January 6, 1982",NaN,"Seattle, WA, USA","Los Angeles, CA, USA"

In [15]:
results = results.sort_values(by=['season_id','contestant','episode_num'])
results['safe']=results['outcome'].apply(lambda x: 1 if x == 'SAFE' else 0)
results['win']=results['outcome'].apply(lambda x: 1 if x == 'WIN' else 0)
results['high']=results['outcome'].apply(lambda x: 1 if x == 'HIGH' else 0)
results['low']=results['outcome'].apply(lambda x: 1 if x == 'LOW' else 0)
results['btm']=results['outcome'].apply(lambda x: 1 if x == 'BTM' else 0)

results.head(10)

,season_contestant_id,contestant_id,episode_id,season_id,franchise_id,episode_num,contestant,outcome,detailed_outcome,safe,win,high,low,btm,mini
45,F10S01C01,Q100,F10S01E01,F10S01,F10,1,Akashia,BTM,BTM2,0,0,0,0,1,0
46,F10S01C01,Q100,F10S01E02,F10S01,F10,2,Akashia,BTM,BTM2TeamCaptain,0,0,0,0,1,0
47,F10S01C01,Q100,F10S01E03,F10S01,F10,3,Akashia,ELIM,ELIM,0,0,0,0,0,0
48,F10S01C01,Q100,F10S01E09,F10S01,F10,9,Akashia,GUEST,GUEST,0,0,0,0,0,0
0,F10S01C02,Q101,F10S01E01,F10S01,F10,1,Be Be Zahara Benet,SAFE,SAFE,1,0,0,0,0,0
1,F10S01C02,Q101,F10S01E02,F10S01,F10,2,Be Be Zahara Benet,SAFE,SAFE,1,0,0,0,0,0
2,F10S01C02,Q101,F10S01E03,F10S01,F10,3,Be Be Zahara Benet,WIN,WIN,0,1,0,0,0,0
3,F10S01C02,Q101,F10S01E04,F10S01,F10,4,Be Be Zahara Benet,HIGH,HIGH,0,0,1,0,0,0
4,F10S01C02,Q101,F10S01E05,F10S01,F10,5,Be Be Zahara Benet,BTM,BTM2,0,0,0,0,1,0
5,F10S01C02,Q101,F10S01E06,F10S01,F10,6,Be Be Zahara Benet,WIN,WIN,0,1,0,0,0,0

In [19]:
results_agg1 = results.groupby(by=['season_id','contestant'],as_index=False).agg({'safe':'sum'})
results_agg2 = results.groupby(by=['season_id','contestant'],as_index=False).agg({'win':'sum'})
results_agg3 = results.groupby(by=['season_id','contestant'],as_index=False).agg({'high':'sum'})
results_agg4 = results.groupby(by=['season_id','contestant'],as_index=False).agg({'low':'sum'})
results_agg5 = results.groupby(by=['season_id','contestant'],as_index=False).agg({'btm':'sum'})
outcome = pd.concat([results_agg1,results_agg2['win'],results_agg3['high'],results_agg4['low'],results_agg5['btm']],axis=1)
outcome.head()

  season_id          contestant  safe  win  high  low  btm
0    F10S01             Akashia     0    0     0    0    2
1    F10S01  Be Be Zahara Benet     2    3     1    0    1
2    F10S01                Jade     2    0     0    1    0
3    F10S01        Nina Flowers     1    1     4    0    0
4    F10S01              Ongina     0    2     2    0    0

In [22]:
outcome.to_csv('../Data/cleaned/results.csv',index=False)